@import "../../../mixins/global.scss";

.SingleMatch{
    &__container{
        &__topBanner{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            background-color: $full-yellow-color;
            color: white;
            & a{
              color: white;
              flex: 1;
              font-size: 13px;
              margin-left: 20px;
              &::before{
                content: "";
                text-decoration: none;
                height: 20px;
                width: 20px;
                background-image: url("../../../../public/images/white-back-arrow.png");
                background-position: center center;
                background-size: cover;
                position: absolute;
                z-index: 10000;
                left: 0;
              }
            }
            & h3{
              flex: 1.7;
              font-size: 15px;
              text-transform: uppercase;
            }
          }
        &__middleBanner{
            // height: 30vh;
            margin-top: 50px;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &__team1{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-left: 10px;
                & img{
                    height: 90px;
                    width: 90px;
                    clip-path: circle();
                }
            }
            &__team2{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-right: 10px;
                & img{
                    height: 90px;
                    width: 90px;
                    clip-path: circle();
                }
            }
            &__separator{
                margin: 0px 25px;
                height: 150px;
                & p{
                    font-size: 10px;
                    width: 100%;
                    text-align: center;
                    margin: 0px 0px 3px 0px;
                }
                &__result{
                    margin-top: 10px;
                    height: 40px;
                    width: 80px;
                    background-color: $main-grey-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        &__midlowerBanner{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            &__team1,&__team2{
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            &__separator{
                width: 1px;
                height: 100%;
                background-color: black;
                min-height: 50px;
            }
        }
        &__lowerBanner{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 50px;
            & div {
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                & button{
                    width: 150px;
                    height: 30px;
                    background-color: $full-yellow-color;
                    color: white;
                    border: 1px solid black;
                }
            }
        }
        &__overlay{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.437);
            z-index: 100;
        }
        &__modal{
           position: fixed;
           top: 25%;
           left: 3%;
           height: 200px;
           width: 300px;
           background-color: white;
           z-index: 1000;
           display: flex;
           align-items: center;
           justify-content: flex-start;
           flex-direction: column; 
           border-radius: 5px;
           & div {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 200px;
            & input{
                width: 70px;
                text-align: center;
            }
           }
           & button{
            position: absolute;
            bottom: 10px;
            width: 180px;
            height: 30px;
            background-color: $full-yellow-color;
            color: white;
            border: 1px solid black;
            text-transform: uppercase;
            &:hover{
                border: 1px solid $full-yellow-color;
                color: $full-yellow-color;
                background-color: white;
            }
           }
           &__close{
            position: absolute;
            top: 5px !important;
            right: 5px !important;
            width: 20px !important;
            height: 20px !important;
            border-radius: 5px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
           }
           & input[type=date], input[type=time], select{
            width: 170px;
            margin-top: 30px;
           }
        }
    }
}