@import "../../../mixins/global.scss";

.SinglePlayer{
    &__container{
        width: 85vw;
        margin-left: 15vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $main-mobile-brp) {
            flex-direction: column;
        }
        &__left{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @media screen and (max-width: $main-mobile-brp) {
                margin-bottom: 50px;
            }
            & img{
                height: 300px;
                width: 300px;
                clip-path: circle();
            }
            &__buttons{
                display: flex;
                align-items: center;
                & button{
                    margin-right: 10px;
                }
            }
        }
        &__right{
            width: 70%;
            &__elem{
                display: flex;
                align-items: center;
                & p{
                    width: 100px;
                }
            }
        }
        &__deletePlayerModal{
            position: absolute;
            height: 60vh;
            width: 80vw;
            left: 17%;
            top: 25%;
            z-index: 1000;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @media screen and (min-width: $main-desktop-brp) {
                height: 51vh;
                width: 36vw;
                left: 36%;
                justify-content: flex-start;
                & h2{
                    font-size: 30px;
                }
                & img{
                    height: 300px !important;
                    width: 300px !important;
                }
                & button {
                    // padding: 10px;
                }
                & input [type=submit] {
                    width: 50% ;
                }
            }
            & button{
                position: absolute;
                top: 5px;
                right: 5px;
                border-radius: 50%;
                border: none;
                background-color: $full-yellow-color;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                &:hover{
                    cursor: pointer;
                }
            }
            & img{
                height: 200px;
                width: 200px;
            }
            & input[type=submit]{
                width: 80%;
                height: 30px;
                border: none;
                background-color: $full-yellow-color;
                color: white;
                border-radius: 10px;
                margin-top: 20px;
                &:hover{
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid $full-yellow-color;
                    color: $full-yellow-color;
                }
                @media screen and (min-width: $main-desktop-brp) {
                    width: 42%;
                }
            }
        }
        &__updateModal{
            position: absolute;
            top: 25%;
            left: 38%;
            height: 500px;
            width: 500px;
            z-index: 1000;
            background-color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & h2{
                text-transform: uppercase;
            }
            & div{
                height: 100px;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                & input{
                    width: 100%;
                }
                & input[type=text]{
                    border: 1px solid black;
                    height: 30px;
                    border-radius: 10px;
                    text-align: center;
                    font-style: italic;
                }
                & label{
                    width: 100%;
                    margin-bottom: 5px;
                }
            }

            &__selectContainer{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: row !important;
                & div{
                    width: 50%;
                    flex-direction: row;
                    justify-content: flex-start;
                    & label{
                        width: 50%;
                    }
                }
            }
            & button{
                width: 80%;
                height: 30px;
                margin-top: 30px;
                background-color: $full-yellow-color;
                border: none;
                border-radius: 10px;
                color: white;
                &:hover{
                    background-color: white;
                    color: $full-yellow-color;
                    border: 1px solid $full-yellow-color;
                    cursor: pointer;
                }
            }
            &__close{
                position: absolute;
                top: 8px;
                right: 10px;
                background-color: $full-yellow-color;
                border: 1px solid $full-yellow-color;
                color: white;
                height: 20px !important;
                width: 20px !important;
                border-radius: 50%;
                margin-top: 0 !important;
            }
        }
        &__overlay{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: black;
            opacity: 0.6;
            z-index: 1000;
        }
    }
}