@import "../../../mixins/global.scss";

.SinglePlayer{
    &__container{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (max-width: $main-mobile-brp) {
            flex-direction: column;
            width: 100vw;
            margin: 0px;
        }
        &__left{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @media screen and (max-width: $main-mobile-brp){
                margin-top: 10px;
            }
            & img{
                height: 300px;
                width: 300px;
                clip-path: circle();
                @media screen and (max-width: $main-mobile-brp) {
                    width: 250px;
                    height: 250px;
                }
            }
            &__buttons{
                display: flex;
                align-items: center;
                & button{
                    margin-right: 10px;
                }
            }
        }
        &__right{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__elem{
                display: flex;
                align-items: center;
                & p{
                    width: 100px;
                }
            }
            @media screen and (max-width: $main-mobile-brp) {
                margin-bottom: 20px;
            }
        }
        &__deletePlayerModal{
            position: fixed;
            height: 40vh;
            width: 80vw;
            left: 7%;
            top: 25%;
            z-index: 1000;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding: 10px;
            border-radius: 5px;
            @media screen and (min-width: $main-desktop-brp) {
                height: 51vh;
                width: 36vw;
                justify-content: flex-start;
                & h2{
                    font-size: 30px;
                }
                & img{
                    height: 300px !important;
                    width: 300px !important;
                }
                & button {
                    // padding: 10px;
                }
                & input [type=submit] {
                    width: 50% ;
                }
            }
            & button{
                border-radius: 50%;
                border: none;
                background-color: $full-yellow-color;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 250px;
                height: 30px;
                margin-top: 20px;
                &:hover{
                    cursor: pointer;
                }
            }
            & img{
                height: 200px;
                width: 200px;
            }
            & input[type=submit]{
                width: 80%;
                height: 30px;
                border: none;
                background-color: $full-yellow-color;
                color: white;
                border-radius: 10px;
                margin-top: 20px;
                &:hover{
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid $full-yellow-color;
                    color: $full-yellow-color;
                }
                @media screen and (min-width: $main-desktop-brp) {
                    width: 42%;
                }
            }
            & input{
                width: 220px;
            }
            & p{
                text-align: center;
            }
            &__close{
                position: absolute;
                top: -5px;
                right: 5px;
                width: 20px !important;
                height: 20px !important;
            }
        }
        &__overlay{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: black;
            opacity: 0.6;
            z-index: 1000;
        }
        &__buttonsContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & button{
                margin: 10px 0px;
                width: 250px;
                height: 30px;
                background-color: $full-yellow-color;
                color: white;
                border: 1px solid black;
            }
            & input{
                margin: 10px 0px;
                width: 250px;
                height: 30px;
                background-color: $full-yellow-color;
                color: white;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
}