@import "../../../mixins/global.scss";

.SingleTeam {
  &__container {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: $main-mobile-brp) {

    }
    &__topBanner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 100px;
      @media screen and (max-width: $main-mobile-brp) {
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
      }
      &__image {
        width: 500px;
        @media screen and (max-width: $main-mobile-brp) {
          width: 80vw;
        }
        & img {
          // clip-path: circle();
          border-radius: 10px;
          width: 500px;
          height: 486px;
          @media screen and (max-width: $main-mobile-brp) {
            width: 80vw;
            height: 336px;
            object-fit: cover;
            margin-bottom: 5px;
          }
        }
        &__menu {
        }
      }
      &__desc {
        color: #14213d;
        & table {
          width: 500px;
          border-radius: 10px;
          @media screen and (max-width: $main-mobile-brp) {
            width: 80vw;
          }
        }
        & th {
          width: 100%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: white;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: $main-mobile-brp) {
            width: 50%;
          }
          // border-bottom: 1px solid black;
          & td {
            height: 100%;
            width: 25vw;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        & tr {
          height: 97px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-bottom: 1px solid $main-yellow-color;

          & td {
            height: 100%;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    &__modal {
      &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 106vh;
        width: 100vw;
        background-color: #14213d8a;
        z-index: 101;
      }
      &__container {
        position: fixed;
        z-index: 102;
        top: 25%;
        left: 30%;
        height: 30vh;
        width: 40vw;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: $main-mobile-brp) {
          width: 80vw;
          height: 50vh;
          justify-content: space-evenly;
          left: 10%;
          & h2, p{
            width: 100%;
            text-align: center;
          }
        }

        &__close {
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 0px;
          border-radius: 10px;
          background-color: $full-yellow-color;
          border: none;
          color: white;
          height: 30px;
          width: 50px;
          transition: all 0.2s ease-in-out;
          @media screen and (max-width: $main-mobile-brp) {
            width: 20px;
            height: 20px;
          }
          &:hover {
            cursor: pointer;
            background-color: white;
            color: $main-yellow-color;
            border: 1px solid $main-yellow-color;
            border-radius: 10px;
          }
        }
        &__fileInput {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (max-width: $main-mobile-brp) {
            width: 85%;
          }
          &__tooltip {
            &:hover {
              &::after {
                position: absolute;
                right: 25px;
                z-index: 102;
                background-color: white;
                padding: 5px;
                font-size: 12px;
                width: 200px;
                border: 1px solid #14213d;
                content: "Il nome dell'immagine non deve contenere spazi o caratteri speciali";
                display: block;
              }
            }
            & img {
              width: 15px;
              height: 15px;
            }
          }
        }
        &__submit{
          width: 200px;
          height: 30px;
          background-color: $full-yellow-color;
          color: white;
          border: 1px solid black;
        }
        & input,select{
          margin: 25px 0px;
          height: 30px;
          border: 1px solid black;
          border-radius: 5px;
          text-align: center;
          font-style: italic;
          width: 190px;
        }
        & input[type=submit]{
          background-color: $full-yellow-color;
          color: white;
        }
      }
    }
    &__middleBanner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 100px;
      width: 100%;
      @media screen and (max-width: $main-mobile-brp) {
        margin-top: 50px;
      }
      // min-height: 50vh;
      & table {
        width: 73vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 20px;
        @media screen and (max-width: $main-mobile-brp) {
          width: 90vw;
        }
        & th {
          width: 73vw;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $full-yellow-color;
          @media screen and (max-width: $main-mobile-brp) {
            width: 90vw;
          }
          // border-bottom: 1px solid black;
          & td {
            height: 100%;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
            @media screen and (max-width: $main-mobile-brp) {
              font-size: 12px;
            }
          }
        }
        & tr {
          width: 73vw;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @media screen and (max-width: $main-mobile-brp) {
            width: 90vw;
          }
          &:nth-child(odd) {
            background-color: white;
          }
          // border-bottom: 1px solid black;
          & td {
            height: 100%;
            width: 25vw;
            // border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $main-mobile-brp) {
              font-size: 12px;
            }
            & img {
              height: 100px;
              width: 100px;
              clip-path: circle();
              @media screen and (max-width: $main-mobile-brp) {
                width: 70px;
                margin-left: 5px;
              }
            }
          }
        }
      }
      &__yellow {
        color: $full-yellow-color;
        font-weight: bold;
      }
    }
    &__bottomBanner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      @media screen and (max-width: $main-mobile-brp) {
      }
      & div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & button {
          width: 130px;
          height: 30px;
          margin: 10px;
          background-color: $full-yellow-color;
          border: 1px solid black;
          color: white;
        }
      }
    }
  }
}
