@import "../../../mixins/global.scss";

.SingleTeam {
  &__container {
    width: 90vw;
    // min-height: calc(100vh - 70px);
    margin-left: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: $main-grey-color;
    &__topBanner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 100px;
      &__image {
        width: 590px;
        height: 494px;
        & img {
          // clip-path: circle();
          border-radius: 10px;
          width: 590px;
          height: 494px;
        }
      }
      &_menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        & button {
          margin-right: 10px;
          border-radius: 10px;
          background-color: #14213d;
          color: white;
          &:hover {
            cursor: pointer;
            background-color: white;
            color: #14213d;
            border: 1px solid #14213d;
            border-radius: 10px;
          }
        }
      }
      &__desc {
        color: #14213d;
        & table {
          background-color: white;
          width: 500px;
          border-radius: 10px;
        }
        & th {
          width: 100%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: white;
          color: white;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          display: flex;
          align-items: center;
          justify-content: center;
          // border-bottom: 1px solid black;
          & td {
            height: 100%;
            width: 25vw;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        & tr {
          height: 97px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-bottom: 1px solid $main-yellow-color;

          & td {
            height: 100%;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
          }
        }
      }
    }
    &__modal {
      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #14213d8a;
        z-index: 101;
      }
      &__container {
        position: absolute;
        z-index: 102;
        top: 25%;
        left: 30%;
        min-height: 50vh;
        width: 40vw;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);

        &__close {
          position: absolute;
          top: 10px;
          right: 10px;
          & button{
            border-radius: 10px;
            background-color: $main-yellow-color;
            border: none;
            color: white;
            height: 30px;
            width: 50px;
            transition: all 0.2s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: white;
              color: $main-yellow-color;
              border: 1px solid $main-yellow-color;
              border-radius: 10px;
            }
          }
        }
        &__fileInput {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__tooltip {
            &:hover {
              &::after {
                position: absolute;
                right: 25px;
                z-index: 102;
                background-color: white;
                padding: 5px;
                font-size: 12px;
                width: 200px;
                border: 1px solid #14213d;
                content: "Il nome dell'immagine non deve contenere spazi o caratteri speciali";
                display: block;
              }
            }
            & img {
              width: 15px;
              height: 15px;
            }
          }
        }

        &__form {
          display: flex;
          padding: 20px 0px;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          min-height: 50vh;
          & h1,
          p {
            margin: 0;
          }
          & p {
            width: 300px;
          }
          & input {
            width: 300px;
            border-radius: 10px;
            border: 1px solid black;
            text-align: center;
            height: 30px;
            &:focus {
              outline: none;
            }
          }
          & input[type="file"] {
            width: 200px;
            text-align: center;
            border: none;
            border-radius: unset;
            height: 30px;
            &:focus {
              outline: none;
            }
          }
          & input[type="submit"] {
            border-radius: 10px;
            background-color: $main-yellow-color;
            color: white;
            height: 30px;
            transition: all 0.2s ease-in-out;
            border: none;
            &:hover {
              cursor: pointer;
              background-color: white;
              color: $main-yellow-color;
              border: 1px solid $main-yellow-color ;
              border-radius: 10px;
            }
          }
        }
      }
    }
    &__middleBanner{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 100px;
      width: 100%;
      // min-height: 50vh;
      & table{
        & th {
          width: 59vw;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $main-yellow-color;
          // border-bottom: 1px solid black;
          & td {
            height: 100%;
            width: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
          }
        }
        & tr {
          width: 59vw;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &:nth-child(odd) {
            background-color: white;
          }
          // border-bottom: 1px solid black;
          & td {
            height: 100%;
            width: 25vw;
            // border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            
            & img{
              height: 100px;
              width: 100px;
            }
          }
        }
      }
      &__yellow{
        color: $main-yellow-color;
        font-weight: bold;
      }
    }
  }
}
