@import "../../mixins/global.scss";

.Classifica {
  &__container {
    position: relative;
    height: calc(100vh - 80px);
    width: 100vw;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: $main-mobile-brp) {
      height: unset;
      margin-top: 60px;
      justify-content: flex-start;
      align-items: center;
      min-height: calc(100vh - 60px);
    }
      &__slider{
        margin-top: 50px;
        width: 940px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid $full-yellow-color;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: $main-mobile-brp) {
          width: 100vw;
        }
        & button{
          width: 50%;
          height: 40px;
          border: none;
          background-color: white;
          transition: all 0.3s ease-in-out;
          text-transform: uppercase;
          &:hover{
            cursor: pointer;
          }
          @media screen and (max-width: $main-mobile-brp) {
            height: 25px;
          }
        }
        &__active{
          transition: all 0.3s ease-in-out;
          background-color: $full-yellow-color !important;
          color: white;
          border: 1px solid $full-yellow-color !important;
        }
        &__noActive{
          transition: all 0.3s ease-in-out;
        }
      }

      & img {
        height: 100px;
        width: 100px;
        clip-path: circle();
      }
      & table {
        border-collapse: separate;
        border-spacing: 0 20px;
        & thead{
          & tr{
            width: 100% !important;
            height: 30px !important;
            border: none !important;
            padding: 0px !important;
            margin: 0px !important;
          }
          & th{
            width: 50px;
            font-style: italic;
          }
        }
        & tr {
          margin: 10px 0px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          transition: all 0.2s ease-in-out;
          border-bottom: 1px solid black;
          padding: 5px;
          @media screen and (max-width: $main-mobile-brp) {
            width: 95vw;
          }
          & td {
            width: 235px;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $main-mobile-brp) {
              width: 50px;
              font-size: 12px;
              text-align: center;
            }
            & img{
              @media screen and (max-width: $main-mobile-brp) {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }
    }
}

