@import "../../mixins/global.scss";

.PublicHome {
  &__container {
    overflow: hidden;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: $main-mobile-brp) {
      height: unset;
      margin-top: 60px;
      flex-direction: column;
    }
    &__blackContainer{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100000;
      height: 100vh;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
      color: white;
      text-transform: uppercase;
      & h2{
        cursor: pointer;
      }
      & a {
        color: white;
        text-decoration: none;
      }
      & button{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        &:hover{
          cursor: pointer;
        }
        & img{
          height: 25px;
          width: 25px;
        }
      }
  
    }
    &__image {
      transition: all 0.2s ease-in-out;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      &:hover {
        opacity: 70%;
        transform: scale(0.96);
        cursor: pointer;
        &::after {
          content: "CLASSIFICA";
          position: absolute;
          top: 50%;
          left: 30%;
        }
      }
      @media screen and (max-width: $main-mobile-brp) {
        width: 100vw;
        border-radius: 0px;
      }
    }
    &__videoWrapper {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100000;
      height: 100vh;
      width: 100vw;
      background-color: white;
      transition: all 0.5s ease-in-out;
      & video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%);
      }
    }
    &__imageWrapper {
      position: fixed;
      top: 35%;
      left: 30%;
      display: flex;
      z-index: 102;
      justify-content: center;
      // flex-direction: column;
      &__image {
        height: 450px;
        width: 250px;
        @media screen and (max-width: $main-mobile-brp) {
          height: 225px;
        }
      }
    }

    &__leftItem {
      position: relative;
      width: 100vw;
      height: calc(100vh - 80px);
      background-color: white;
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: $main-mobile-brp) {
        width: 100vw;
        height: calc(100vh - 60px);
      }
      & h2{
        position: absolute;
        top: 45%;
        left: 40%;
        width: 20%;
        height: 50px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: rgba(255, 255, 255, 0.841);
        border: 1px solid black;
        border-radius: 5px;
        @media screen and (max-width: $main-mobile-brp){
          width:100%;
          left: 0%;
        }
      }
      & img {
        object-fit: cover;
      }
    }
    & h1 {
      position: absolute;
      top: 50%;
      left: 30%;
    }
    &__rightItem {
      position: relative;
      height: calc(100vh - 80px);
      width: 100vw;
      border-left: 1px solid black;
      background-color: white;
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: $main-mobile-brp) {
        width: 100vw;
        height: calc(100vh - 60px);
        margin-bottom: 70px;
      }
      & h2{
        position: absolute;
        top: 45%;
        left: 40%;
        width: 20%;
        height: 50px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: rgba(255, 255, 255, 0.841);
        border: 1px solid black;
        border-radius: 5px;
        @media screen and (max-width: $main-mobile-brp){
          width:100%;
          left: 0%;
        }
      }
      & img {
        object-fit: cover;
      }
    }
    &__rightItemDesc {
      position: relative;
      // height: calc(100vh - 80px);
      width: 100vw;
      border-left: 1px solid black;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      & iframe {
        width: 100vw;
        height: 500px;
      }
      @media screen and (max-width: $main-mobile-brp) {
        width: 100vw;
        height: calc(100vh - 60px);
        margin-bottom: 70px;
        & iframe {
          width: 310px;
          height: 300px;
        }
      }
    }
  }
}
