@import "../../../mixins/global.scss";

.TopBar {
  &__container {
    height: 70px;
    width: 90vw;
    margin-left: 9.9vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid $main-yellow-color;
    @media screen and (max-width: $main-mobile-brp) {
      width: 85vw;
      height: 50px;
      margin-left: 15vw;
    }
    &__alertsContainer {
      &__success {
        border: 1px solid rgb(1, 80, 1);
        background-color: rgb(113, 190, 106);
        color: rgb(4, 121, 4);
        padding: 10px;
      }
    }

    &__searchContainer {
      height: 30px;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      background-color: #e3eff5;
      border-radius: 5px;
      @media screen and (max-width: $main-mobile-brp) {
        width: 60%;
        margin-left: 10px
      }
      &__search {
        width: 100%;
        display: flex;
        align-items: center;
        &__input {
          width: 80%;
          background-color: transparent;
          border: none;
          text-align: center;
          &:focus {
            outline: none;
          }
        }
        &__icon{
          height: 20px;
          width: 20px;
          margin-left: 10px;
        }
      }
    }
    &__profileContainer {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &__icon {
        height: 60px;
        width: 60px;
        clip-path: circle();
        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          border: none;
          transform: scale(1.1);
        }
      }
      &__label {
        @media screen and (max-width: $main-mobile-brp) {
          display: none;
        }
        &__dropMenu {
          position: absolute;
          top: 80px;
          z-index: 120;
          height: 50px;
          width: 300px;
          background-color: white;
          box-shadow: 2px 2px 2px 2px solid rgb(255, 255, 255);
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            content: "";
          }
        }
      }
    }
  }
}
.AddImage {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.438);
  }
  &__container {
    position: absolute;
    top: 25%;
    left: 40%;
    background-color: white;
    height: 500px;
    width: 500px;
    z-index: 1200;
    border-radius: 10px;
    box-shadow: 10px 8px 10px 8px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    & p {
      font-size: 30px;
      text-transform: capitalize;
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 25px;
      height: 25px;
      background-color: #14213d;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      color: white;
      &:hover {
        cursor: pointer;
        background-color: white;
        color: #14213d;
        border: 1px solid #14213d;
        border-radius: 10px;
      }
    }

    &__form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      & input[type="submit"] {
        margin: 60px 0px 30px 0px;
        background-color: #14213d;
        color: white;
        width: 80%;
        height: 30px;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
          background-color: white;
          color: #14213d;
          border: 1px solid #14213d;
          border-radius: 10px;
        }
      }
      &__preview {
        height: 250px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__image {
          height: 200px;
          width: 200px;
          clip-path: circle();
        }
      }
    }
  }
}
